<h1><%= @list.name %></h2>

<h2>Picked Movie</h2>

<h3>Movies</h3>

<ul>
<%# @movies.each do |movie| %>
  <li><%#= @movie.title %></li>
  <li><%#= @movie.overview %></li>
  <li><%#= @movie.rating %></li>
</ul>

 <%# t.string "title"
    t.text "overview"
    t.text "poster_url"
    t.integer "rating" %>
